# OS Files
.DS_Store

# Project Files
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Build Artifacts
*.vsix
obliviousharmony-vscode-phpcs-integration-*
extension.js
extension.js.map

# Dependencies
node_modules/
vendor/
composer.lock
